<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.3/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./Tests/app/autoload.php"
        >
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./Tests/Lib</directory>
            <directory>./Tests/Command</directory>
            <directory>./Tests/Service</directory>
            <directory>./Tests/Provider</directory>
            <directory>./Tests/Serializer</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist>
        <!-- lib subfolders to include -->
            <directory>./Provider</directory>
            <directory>./Event</directory>
            <directory>./Entity</directory>
            <directory>./Command</directory>
            <directory>./Service</directory>
            <directory>./Serializer</directory>
        </whitelist>
    </filter>
</phpunit>
